[package]
name = "zinq-rust"
description = "rust ast/parser/tokenizer implementations"
readme = "README.md"
version.workspace = true
edition.workspace = true
license.workspace = true
documentation.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
